apiVersion: apps/v1                                     # specifies the API version
kind: Deployment                                        # specifies the type of Kubernetes object
metadata:                                               # metadata about the object         
  name: activity-tracker-deployment                     # name of the deployment
  labels:                                               # labels for the deployment
    app: activity-tracker                               # label key-value pair
spec:                                                   # specification of the desired behavior of the deployment
  replicas: 1                                           # number of pod replicas
  selector:                                             # label selector for pods     
    matchLabels:                                        # specifies the labels to match                                        
      app: activity-tracker                             # label key-value pair   
  strategy:                                             # deployment strategy
    type: RollingUpdate
    rollingUpdate:                                      # parameters for rolling update strategy
      maxUnavailable: 1
      maxSurge: 1
  template:                                             # pod template
    metadata:                                           # metadata about the pod  
      labels:                                           # labels for the pod
        app: activity-tracker                           # label key-value pair
    spec:                                                            
      containers:                                       # list of containers in the pod                                                                                            
      - name: activity-tracker-container                # name of the container
        image: 195275636360.dkr.ecr.eu-north-1.amazonaws.com/markone-activiti-tracker:latest  # your image name
        imagePullPolicy: Always
        ports:                                          # ports to be exposed by the container
        - containerPort: 8080                           # port that the container will listen on
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        
        
        env:
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: create-drop
        - name: SPRING_JPA_SHOW_SQL
          value: "true"
